port=7000
geocode_workurl="tcp://127.0.0.1:9000"
geospatial_workurl="tcp://127.0.0.1:9001"
resulturl="tcp://127.0.0.1:9002"
licensefile="/home/adam/code/spatial/pxpoint_config/pxpoint.lic"
licensekey=123456789
pxse_dir="/media/sf_pxse-data"
datacatalog_path="/home/adam/code/spatial/pxpoint_config/datacatalog.xml"
